set editing-mode vi

# Edit options before rerunning previous command, eg: ls a b c -> ls -al a b c
set keymap vi-insert
"\e/": menu-complete
"\ee": glob-expand-word
"\C-l": clear-screen
"\C-x\C-r": re-read-init-file
"\C-xa": tui-switch-mode

set keymap vi-command
"gg": beginning-of-history
"G": end-of-history
